.u-center-input {
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 4.3rem; }

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul,
ol {
  list-style: none; }

/* Remove styles on a text */
a {
  color: inherit;
  text-decoration: none; }

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth; }

html {
  font-size: 62.5%; }

/* Set core body defaults */
body {
  box-sizing: border-box;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

/*
  Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block; }

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto; }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

html {
  font-family: "Source Sans Pro", sans-serif; }

.data-label {
  font-size: 1.8rem;
  font-weight: 100; }

input {
  font-family: inherit;
  font-weight: 200;
  color: orangered;
  font-size: 2.5rem;
  text-align: center; }

.btn span {
  font-size: 1.7rem;
  color: white; }

.title__container h1 {
  font-size: 3.2rem; }

.title__container h2 {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 400;
  color: orangered;
  cursor: pointer;
  transition: all 0.2s; }
  .title__container h2:hover {
    background-color: orangered;
    color: white; }

.popup__header {
  text-align: left;
  margin-top: 5rem;
  margin-left: 5.5rem; }

.table__header {
  margin-top: 4.5rem;
  text-align: center; }
  .table__header h1 {
    font-size: 4.2rem; }
  .table__header h2 {
    font-size: 2.2rem; }

.table {
  text-align: center;
  font-size: 1.4rem; }
  .table__row {
    position: relative; }
  .table__row--primary {
    font-family: "Sansita Swashed", cursive;
    font-size: 2.3rem;
    font-weight: lighter;
    color: orangered; }
  .table .iteration--column {
    font-size: 1.2rem;
    font-family: "Source Sans Pro", sans-serif; }

.btn {
  display: inline-block;
  height: 3.6rem;
  border-radius: 5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 0.7rem;
  text-align: center;
  background-color: orangered;
  transition: all 0.3s; }
  .btn:hover {
    cursor: pointer;
    box-shadow: 0px 6px 10px -7px #535353;
    transform: translateY(-2px); }
  .btn:active {
    transform: translateY(2px); }
  .btn--execute {
    margin: 0 auto;
    margin-top: 1.2rem; }
  .btn--reset {
    position: fixed;
    bottom: 1.5rem;
    left: 43.5vw; }

input {
  border: none;
  background-color: #e9e9e9;
  width: 25rem;
  height: 4rem; }
  input:focus {
    outline: none;
    background-color: #dfdfdf; }
  input::placeholder {
    color: rgba(255, 68, 0, 0.548); }

.iteration-data {
  width: 7rem; }

.data-input__box {
  display: inline-flex;
  flex-direction: column; }
  .data-input__box--iteration {
    float: inline-end;
    margin-top: -9.5rem;
    margin-right: 1.5rem; }
  .data-input__box span {
    margin-bottom: 1rem; }
  .data-input__box:not(:last-child) {
    margin-bottom: 2rem; }

.table {
  display: inline-block;
  border-right: 0.1px solid #d1d1d1;
  margin-top: 4.5rem;
  margin-bottom: 8rem;
  margin-left: -7.5rem;
  justify-self: center; }
  .table__row {
    display: flex; }
  .table__column {
    padding: 1rem;
    border: 0.1px solid #d1d1d1;
    width: 8rem; }

.iteration--column {
  border: none !important;
  margin-top: 0.35rem;
  color: #b3b3b3; }

.popup-container {
  width: 80rem;
  height: 45rem;
  background-color: white;
  box-shadow: 0px 0px 20px 10px #e2e2e2;
  border-radius: 1rem;
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s; }
