html {
  font-family: "Source Sans Pro", sans-serif;
}

.data-label {
  font-size: 1.8rem;
  font-weight: 100;
}

input {
  font-family: inherit;
  font-weight: 200;
  color: orangered;
  font-size: 2.5rem;
  text-align: center;
}

.btn {
  & span {
    font-size: 1.7rem;
    color: white;
  }
}

.title__container {
  & h1 {
    font-size: 3.2rem;
  }

  & h2 {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 400;
    color: orangered;
    cursor: pointer;
    transition: all 0.2s;

    &:hover {
      background-color: orangered;
      color: white;
    }
  }
}

.popup__header {
  text-align: left;
  margin-top: 5rem;
  margin-left: 5.5rem;
}

.table__header {
  margin-top: 4.5rem;
  text-align: center;

  & h1 {
    font-size: 4.2rem;
  }

  & h2 {
    font-size: 2.2rem;
  }
}

.table {
  text-align: center;
  font-size: 1.4rem;
  &__row {
    position: relative;
  }

  &__row--primary {
    font-family: "Sansita Swashed", cursive;
    font-size: 2.3rem;
    font-weight: lighter;
    color: orangered;
  }

  .iteration--column {
    font-size: 1.2rem;
    font-family: "Source Sans Pro", sans-serif;
  }
}

.warnings {
  display: inline-block;
  font-size: 1.3rem;
  margin-top: 29.8rem;
  margin-left: 1.7rem;
  color: rgb(102, 102, 102);
  font-weight: lighter;
  transition: all 0.3s;

  &:hover {
    background-color: rgb(240, 240, 240);
    transform: scale(1.05);
  }
}
